#exclude content inside build/classes folder
/build/classes/*
#un-exclude dummy file to ease first time pull from repo
!/build/classes/dummy
/build/
#exclude bin folder
/bin
#exclude eclipse project meta
.classpath
.project
/.settings
#exclude gitignore
.gitignore
#exclude web.xml
#/WebContent/WEB-INF/web.xml
