@CHARSET "UTF-8";

.header-container {
	background-color: #20B2AA;
}

.header-title, .header-title:hover {
	color: #FFFFFF;
}

.margin-left-24 {
	margin-left: 24px;
}
.margin-right-24 {
	margin-right: 24px;
}
.margin-top-24 {
	margin-top: 24px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-12 {
	margin-top: 12px;
}
.margin-left-8 {
	margin-left: 8px;
}
.margin-left-12 {
	margin-left: 12px;
}
.margin-right-12 {
	margin-right: 12px;
}

.padding-left-16 {
	padding-left: 16px;
}

.padding-left-12 {
	padding-left: 12px;
}

.padding-right-24 {
	padding-right: 24px;
}

.padding-right-12 {
	padding-right: 12px;
}

.square-180-by-180 {
	max-width: 180px;
	max-height: 180px;	
}

.test-border {
	border: 1px solid black;
}

.fill-parent {
	width:100%;
	height:100%;
}

.fill-width {
	width:100%;
}

.fill-height {
	height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-pull-left {
	margin-left: 0;
}

.col-pull-right {
	margin-right: 0;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.as-table {
	display: table;
	width: 100%;
	height: 100%;
}

.as-cell {
	display: table-cell;
    vertical-align: middle;
	padding: 12px;
}

.as-cell-no-padding {
	display: table-cell;
    vertical-align: middle;
	margin: 0;
}

.as-cell-50, .cell-50 {
	width: 50%;
}

.as-cell-95, .cell-95 {
	width: 95%;
}

.as-cell-90, .cell-90 {
	width: 90%;
}

.as-cell-83, .cell-83 {
	width: 83%;
}

.as-cell-78, .cell-78 {
	width: 78%;
}

.as-cell-75, .cell-75 {
	width: 75%;
}

.as-cell-25, .cell-25 {
	width: 25%;
}

.as-cell-17, .cell-17 {
	width: 17%;
}

.as-cell-12, .cell-12 {
	width: 12%;
}

.as-cell-5, .cell-5 {
	width: 5%;
}

.cell-180px {
	width: 180px;
}

.border-left {
	border: 1px solid #ccc;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.as-cell-link, .as-cell-link:hover {
	text-decoration: none !important;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	color: #434343;
}

.as-cell-link:hover {
	background-color: #F2F2F2;
}

.text-link-info, .text-link-info:hover {
	color: #33A1CC;
	background-color: none;
}

.link-as-text, link-as-text:hover {
	color: #333333 !important;
	text-decoration: none !important;
}

.link-as-danger-text, link-as-danger-text:hover {
	color: red !important;
	text-decoration: none !important;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.no-decoration {
	text-decoration: none !important;
}

.underline-text {
	text-decoration: underline !important;
}

.h1-color, .h1-color:hover {
	color: #262626;
}

.white-color, .white-color:hover {
	color: #FFFFFF;
}

.submit-ajax-result, .submit-ajax-empty-result {
	display: none;
}

@media (max-width: 767px) {
	.col-xs-space {
		margin-bottom: 12px;
	}
	
	.col-sm-space {
		margin-bottom: 12px;
	}
	
	.col-md-space {
		margin-bottom: 12px;
	}
	
	.col-lg-space {
		margin-bottom: 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-space {
		margin-bottom: 12px;
	}
	
	.col-md-space {
		margin-bottom: 12px;
	}

	.col-lg-space {
		margin-bottom: 12px;
	}
}

@media (min-width : 992px) and (max-width: 1199px) {
	.col-md-space {
		margin-bottom: 12px;
	}
	
	.col-lg-space {
		margin-bottom: 12px;
	}
}

@media (min-width: 1200px) {
	.col-lg-space {
		margin-bottom: 12px;
	}
}